.container-app{
   
display: flex;
justify-content: center;
align-items: flex-start;
gap: 20px;
flex-wrap: wrap;

}

.cards{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 20px;
flex-wrap: wrap;
}
input{
    gap: 12px;
}

.buttom-produto{
    display: flex;
    align-items: center;
    justify-content: center;
}